<div class="page-width">
    <div class="learning-liquid">
        <h1>Learning Liquid Lab</h1>
        <p>Start writing your Liquid code here!</p>
    </div>
</div>

{% schema %}
{
"name": "Learning liquid",
"tag": "section",
"class": "learning-liquid-section",
"settings": [],
"presets":[
    {
        "name": "learning liquid"
    }
  ]
}
{% endschema %}